{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "extends": [
    "wix/esnext"
  ],
  "rules": {
    "camelcase": 0,
    "no-console": 1,
    "no-debugger": 2,
    "object-curly-spacing": [2, "always"],
    "prefer-const": 2,
    "prefer-spread": 2,
    "prefer-template": 2,
    "quotes": [2, "single"]
  }
}

